{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block main %}
<section id="main">
    <div class="container">
        <h2>Выберете то что вам интересно</h2>
        <div class='flexbox'>
            <a class="button" href="/">Главная</a>
            <a class="button" href="/science">Наука</a>
            <a class="button" href="/sport">Спорт</a>
        </div>
    </div>
</section>
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Рисование</h2>
    <h4>Тип: Производить вещи</h4>
    <p>Замечательный способ отвлечься от проблем, расслабиться в любой момент. Достаточно иметь блокнот и карандаш и можно погрузиться в творчество. Не придётся скучать в самолёте или поезде, не заметите, как пролетит время.</p>
</div>

<div class="hobby">
    <h2>Моделизм</h2>
    <h4>Тип: Производить вещи</h4>
    <p>Вид технического творчества, изготовление уменьшенных моделей и макетов различной техники и архитектурных сооружений, копия создаётся в определённом масштабе.</p>
</div>

<div class="hobby">
    <h2>Фотография</h2>
    <h4>Тип: Производство и изучение вещей</h4>
    <p>популярное и доступное хобби. Можно фотографировать на обычный смартфон с хорошей камерой. Фотографируйте все подряд, обрабатывайте фото, выставляйте в интернете и получайте своих поклонников. Или деньги, продавая снимки.</p>
</div>

<div class="hobby">
    <h2>Писательство</h2>
    <h4>Тип: Производство вещей</h4>
    <p>У каждого из нас есть истории, которые можно разделить со всем миром. Письмо — это универсальная форма, которая может выглядеть по-разному: поэзия, художественная литература, документальная литература, блоги или журналистика. Можно писать для себя или для других и улучшать свои навыки с помощью практики и обратной связи. Навык копирайтинга позже может пригодиться в работе.
    </p>
</div>

<div class="hobby">
    <h2>Музыкая</h2>
    <h4>Тип: Производство вещей</h4>
    <p>Это может быть вокальное направление, игра на музыкальных инструментах или создание собственных музыкальных треков. Музыка — это универсальный язык, который может изучить любой человек. Даже если говорят, что нет слуха, при желании его можно успешно развивать.</p>
</div>

<div class="hobby">
    <h2>Ораторское мастерство</h2>
    <h4>Тип: Производство вещей</h4>
    <p>Проявлять свои актёрские способности и вдобавок красиво говорить учат на уроках ораторского искусства. Многим такое хобби будет полезно в работе, особенно руководителям любого уровня. На занятиях снимают зажимы, которые блокируют красивое звучание голоса, учат доносить до аудитории самую суть и дают возможность быть услышанным.</p>
</div>

<div class="hobby">
    <h2>Кулинария</h2>
    <h4>Тип: Производство вещей</h4>
    <p>Готовить любят не все, но многие превращают этот процесс в высшую степень мастерства. Увлечение кулинарией позволяет на своей кухне приготовить блюда из любой точки мира, удивить близких и просто вкусно поесть. Иногда это хобби заходит так далеко, что люди уходят в профессию и становятся шеф-поварами известных ресторанов.</p>
</div>

<div class="hobby">
    <h2>Бисероплетение</h2>
    <h4>Тип: Производство вещей</h4>
    <p>С помощью бисера можно создать сложные предметы интерьера и украшения или добавить элементы из бусин на одежду, обувь или сумку. Видов плетения существует несколько десятков, каждый по-своему красив. Освоить их не так сложно, в интернете можно найти уже готовые схемы. Чтобы сделать это своим хобби, понадобятся бусины, нитки и ножницы.</p>
</div>

<div class="hobby">
    <h2>Дороданго</h2>
    <h4>Тип: Производство вещей</h4>
    <p> Японское искусство создания совершенных шаров из земли. Творческая техника, которая помогает расслабиться и снять стресс. Чтобы сделать дороданго, потребуется грунт, вода, полиэтиленовый пакет, краска для глянцевого покрытия и немного свободного времени.</p>
</div>

<div class="hobby">
    <h2>Эбру</h2>
    <h4>Тип: Производство вещей</h4>
    <p>Популярная восточная техника рисования на воде. Сначала рисунок кистью наносится на воду со специальным раствором, а потом переносится на бумагу. Получаются сказочные картины, а человек максимально отдаётся процессу и отпускает ненужную суету.</p>
</div>

<div class="hobby">
    <h2>Дизайн</h2>
    <h4>Тип: Производство вещей</h4>
    <p>Направлений у дизайна множество, вот одни из популярных — графический, ландшафтный, коммуникационный, фэшн- и дизайн интерьера. Не обязательно осваивать дизайнерские навыки на профессиональном уровне для работы, это могут быть собственные проекты для души.</p>
</div>
{% endblock %}