{% extends "base.html" %}

{% block main %}
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Филателия</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>Это разновидность коллекционирования, объектом которого являются почтовые марки и других знаков почтовой оплаты. Миллионы людей во всем мире интересуются коллекционированием и изучением марок. Коллекции могут быть тематическими, например, марки разных стран, изображения животных и растений, космос и космическая техника, исторические и спортивные события, известные люди, значимые даты и так далее. Наибольшую ценность для опытных филателистов представляют марки с ограниченным тиражом, сохранившиеся в малых или единственном экземпляре, марки с уникальным браком</p>
</div>


<div class="hobby">
    <h2>Сборка механических клавиатур</h2>
    <h4>Тип: Создание и коллекционирование вещей</h4>
    <p>Ценители этого хобби выбирают, собирают и модифицируют механические клавиатуры, экспериментируя с различными типами переключателей, клавишами и светодиодной подсветкой для улучшения типинга и эстетического удовлетворения.</p>
</div>

<div class="hobby">
    <h2>Вексиллология</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>это вспомогательная историческая дисциплина и разновидность коллекционирования, объектом изучения и собирательства которой являются флаги, знамена, бунчуки, вымпелы, хоругви, штандарты, стяги и другие флагоподобные предметы.</p>
</div>

<div class="hobby">
    <h2>Буккроссинг</h2>
    <h4>Тип: Коллекционирование вещей</h4>
    <p>Социально-культурное хобби, основанное на обмене книгами с неизвестными людьми. Цель состоит в том, чтобы книга путешествовала от читателя к читателю по всему миру, после чего ее история отслеживается через специализированный сайт.</p>
</div>
{% endblock %}