{% extends "base.html" %}

{% block main %}
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Моддинг ПК</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Моддинг ПК — это хобби, которое заключается в модификации и улучшении компьютерных корпусов, комплектующих и систем охлаждения с целью повышения производительности и эстетических характеристик компьютера.</p>
</div>

<div class="hobby">
    <h2>Создание микроконтроллерных устройств</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Это хобби включает разработку и конструирование уникальных электронных устройств или гаджетов на базе микроконтроллеров, таких как Arduino или Raspberry Pi, для решения различных задач или для развлечения.</p>
</div>

<div class="hobby">
    <h2>Реверс-инжиниринг</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Реверс-инжиниринг программного обеспечения – это процесс анализа программных продуктов для изучения их работы, выявления алгоритмов действия без непосредственного доступа к исходному коду, что позволяет глубже понять принципы работы ПО.</p>
</div>

<div class="hobby">
    <h2>Разработка игр как хобби</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Занятие включает в себя создание компьютерных или мобильных игр, начиная от простейших аркад и заканчивая сложными многопользовательскими проектами, используя различные игровые движки и программы для разработки.</p>
</div>

<div class="hobby">
    <h2>Цифровое искусство на компьютере</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Это хобби позволяет создавать художественные произведения с помощью специализированного программного обеспечения, от реалистичных цифровых живописей до абстрактных компьютерных визуализаций.</p>
</div>

<div class="hobby">
    <h2>Конструирование и запуск радиоуправляемых моделей</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Хобби предполагает создание и управление моделями самолетов, вертолетов, кораблей и автомобилей с помощью радиоуправления, обеспечивая понимание основ аэродинамики, электроники и механики.</p>
</div>

<div class="hobby">
    <h2>Сборка механических клавиатур</h2>
    <h4>Тип: Создание и коллекционирование вещей</h4>
    <p>Ценители этого хобби выбирают, собирают и модифицируют механические клавиатуры, экспериментируя с различными типами переключателей, клавишами и светодиодной подсветкой для улучшения типинга и эстетического удовлетворения.</p>
</div>
{% endblock %}