{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block main %}
<section id="main">
    <div class="container">
        <div class="main">
            <h3>Добро пожаловать на наш сайт, где каждый найдет отраду для души и источник вдохновения в своем любимом хобби! Погружение в увлекательный мир хобби не только помогает переключиться с повседневных забот на что-то захватывающее, обеспечивая отдых от ежедневного стресса, но и дарит радость успеха и самовыражения. Мы верим, что заниматься любимым делом – значит вкладывать свое время в то, что приносит истинное удовлетворение и счастье, а также открывает путь к новым знаниям, навыкам, и, возможно, к новому призванию. Здесь вы встретите единомышленников, с которыми можно делиться достижениями, находить новые идеи и вдохновение для развития своих увлечений. Вместе мы создаем пространство, где каждый может найти поддержку, признание и возможность раскрыть свои скрытые таланты. Давайте вместе делать жизнь ярче!</h3>
        </div>
        <div class="flexbox">
            <a class="button" href="/computer">Компьютер</a>
            <a class="button" href="/art">Искусство</a>
            <a class="button" href="/science">Наука</a>
            <a class="button" href="/sport">Спорт</a></div>
    </div>
    </section>
{% endblock%}

{% block post %}
{% endblock %}
