{% extends "base.html" %}

{% block main %}
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Каллиграфия</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Искусство красивого и стилизованного письма, требующее тщательной практики и терпения для овладения техниками.</p>
</div>

<div class="hobby">
    <h2>Буккроссинг</h2>
    <h4>Тип: Коллекционирование вещей</h4>
    <p>Социально-культурное хобби, основанное на обмене книгами с неизвестными людьми. Цель состоит в том, чтобы книга путешествовала от читателя к читателю по всему миру, после чего ее история отслеживается через специализированный сайт.</p>
</div>

<div class="hobby">
    <h2>Чтение вслух</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Чтение вслух — это практика, направленная на развитие ораторских навыков и выразительности. Люди могут участвовать в клубах чтения вслух или организовывать встречи, где читают и обсуждают литературу.</p>
</div>

<div class="hobby">
    <h2>Биндерство</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Искусство создания и восстановления книжных переплетов. Включает в себя выбор материалов, дизайна и техники реставрации, чтобы дать книгам новую жизнь или создать уникальные авторские издания.</p>
</div>

<div class="hobby">
    <h2>Буктубинг</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Это может быть вокальное направление, игра на музыкальных инструментах или создание собственных музыкальных треков. Музыка — это универсальный язык, который может изучить любой человек. Даже если говорят, что нет слуха, при желании его можно успешно развивать.</p>
</div>

<div class="hobby">
    <h2>Литературное письмо</h2>
    <h4>Тип: Создание вещей</h4>
    <p>Литературное письмо — хобби, в ходе которого участники создают собственные произведения или пишут критические эссе на основе прочитанных книг. Это может включать участие в писательских конкурсах или публикацию в литературных журналах.</p>
</div>
{% endblock %}