{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block main %}
<section id="main">
    <div class="container">
        <h2>Выберете то что вам интересно</h2>
        <div class="flexbox">
            <a class="button" href="/"><p>Главная</p></a>
            <a class="button" href="/art"><p>>Искусство</p</a>
            <a class="button" href="/sport"><p>Спорт</p></a>
        </div>
    </div>
</section>
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Изучение иностранных языков</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Язык — хороший способ узнать другие культуры или пообщаться с людьми из самых разных стран. Кроме этого, иностранные языки помогают развивать память, когнитивные функции и гибкость ума. Сейчас есть много инструментов для изучения: онлайн-курсы, языковые школы, приложения, самостоятельная практика и стажировки в других странах.</p>
</div>

<div class="hobby">
    <h2>Чтение книг</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Хобби, которое может расширить кругозор, словарный запас и улучшить навыки критического мышления. Читая книги, человек учится у экспертов, путешествует по новым мирам или разбирается в психологии личности. Всё зависит от жанра. Чтение — не всегда занятие для одного, можно присоединяться к книжным клубам и онлайн-дискуссиям, чтобы делиться своими идеями и мнением после прочитанного.</p>
</div>

<div class="hobby">
    <h2>Изучение звёзд и небесных тел</h2>
    <h4>Тип: Изучение вещей</h4>
    <p> Любительская астрономия — хобби, которое требует хотя бы бинокля с десятикратным увеличением и базовых знаний. Место для наблюдений тоже нужно выбирать тщательно, зато сколько впечатлений можно получить от собственных открытий. Подойдёт тем, кому всегда нравились точные дисциплины.</p>
</div>

<div class="hobby">
    <h2>Вексиллология</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>это вспомогательная историческая дисциплина и разновидность коллекционирования, объектом изучения и собирательства которой являются флаги, знамена, бунчуки, вымпелы, хоругви, штандарты, стяги и другие флагоподобные предметы.</p>
</div>

<div class="hobby">
    <h2>Иконография</h2>
    <h4>Тип: Изучение и создание вещей</h4>
    <p>Это строго регламентированная церковным иконографическим каноном система изображения определённых образов или сюжетных сцен на религиозную тематику.</p>
</div>


<div class="hobby">
    <h2>Филателия</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>Это разновидность коллекционирования, объектом которого являются почтовые марки и других знаков почтовой оплаты. Миллионы людей во всем мире интересуются коллекционированием и изучением марок. Коллекции могут быть тематическими, например, марки разных стран, изображения животных и растений, космос и космическая техника, исторические и спортивные события, известные люди, значимые даты и так далее. Наибольшую ценность для опытных филателистов представляют марки с ограниченным тиражом, сохранившиеся в малых или единственном экземпляре, марки с уникальным браком</p>
</div>


<div class="hobby">
    <h2>Астрология</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Это учение, согласно которому события земной жизни и будущее можно предсказать по расположению и движению небесных тел на небесной сфере и относительно друг друга. Не смотря на то, что современная наука, при большом количестве предпринимаемых попыток дать физическое обоснование астрологии, квалифицирует ее как лженауку, а некоторые люди считают астрологию разновидностью гадания, волшебства, чародейства и другие похожих оккультных вещей, в наше время астрологические предзнаменования и гороскопная астрология становятся все более и более.</p>
</div>
{% endblock %}