{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block main %}
<section id="main">
    <div class="container">
        <h2>Выберете то что вам интересно</h2>
        <div class="flexbox">
            <a class="button" href="/"><p>Главная</p></a>
            <a class="button" href="/art"><p>Искусство</p></a>
            <a class="button" href="/science"><p>Наука</p></a>
        </div>
    </div>
</section>
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Баскетбол</h2>
    <h4>Тип: Спорт</h4>
    <p>Этим видом спорта можно заниматься в помещении или на открытом воздухе. Он требует выносливости, ловкости и мастерства. Преимущество в том, что баскетбол — командный вид спорта, в него можно играть с друзьями или вступить в уже существующую команду и улучшать свои навыки броска, передачи и защиты. Кроме того, это отличный способ сжечь калории и оставаться в форме.</p>
</div>

<div class="hobby">
    <h2>Бег</h2>
    <h4>Тип: Спорт</h4>
    <p>Плюс бега в том, что он не требует усиленной подготовки и экипировки в начале занятий. Можно приобрести непрофессиональные кроссовки и бегать в своё удовольствие в парке рядом с домом или на стадионе. С помощью бега можно эффективно привести себя в форму, получить удовольствие от пребывания на свежем воздухе и отвлечься от рабочих мыслей. Главное здесь — не забывать, что у бега всё же есть противопоказания.</p>
</div>

<div class="hobby">
    <h2>Йога и стретчинг</h2>
    <h4>Тип: Спорт</h4>
    <p>Практика, которая сочетает в себе дыхание, растяжку и медитацию для улучшения самочувствия и баланса. Это нетравмирующий, более мягкий вариант физических упражнений и повышения гибкости. Йогой можно заниматься где угодно, достаточно только иметь коврик: на природе, дома под онлайн-уроки или в студии.</p>
</div>

<div class="hobby">
    <h2>Большой или настольный теннис</h2>
    <h4>Тип: Спорт</h4> 
    <p>Это вид спорта с высокой нагрузкой, потому что игроки всё время проводят в движении на большой площади корта. Настольный теннис — игра на специальном столе с сеткой и небольшими ракетками, но принцип сохраняется тот же. Занятия теннисом помогают стать выносливее, развить ловкость и скорость реакции.</p>
</div>

<div class="hobby">
    <h2>Танцы</h2>
    <h4>Тип: Спорт</h4>
    <p>Это один из популярных видов хобби, который не имеет существенных ограничений, полезен для здоровья и подходит почти всем людям. Танец — это одновременно и физическая нагрузка, и творческое проявление себя. Он может быть парным или индивидуальным, включать десятки направлений.</p>
</div>

<div class="hobby">
    <h2>Скалолазание</h2>
    <h4>Тип: Спорт</h4>
    <p>Экстремальный вид спорта, для которого нужны регулярные тренировки, оборудование и базовые навыки — нельзя просто так взять и залезть на скалу. Смысл заключается в лазании по естественному или искусственному рельефу — скалодрому. Скалолазание развивает силу и ловкость, тренирует мышцы всего тела, эмоциональную устойчивость и помогает преодолеть страх высоты. Чтобы овладеть этим навыком, нужна помощь квалифицированного тренера и оборудованный скалодром для занятий.</p>
</div>

<div class="hobby">
    <h2>Скейтбординг</h2>
    <h4>Тип: Спорт</h4>
    <p>Кажется, что это увлечение для подростков или субкультурной молодёжи, но на самом деле катание на скейтборде подходит людям любых возрастов. Помогает работать со страхами и отвлечься от бытовых проблем.Чтобы быстрее встать на скейт, лучше начать своё увлечение с работы с тренером — он поможет вам освоить езду и обучит базовым трюкам. Позже можно оттачивать навыки в экстрим-парке, знакомиться и перенимать фишки других райдеров.</p>
</div>
{% endblock %}