{% extends "base.html" %}

{% block main %}
{% endblock%}

{% block post %}
<div class="hobby">
    <h2>Изучение иностранных языков</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Язык — хороший способ узнать другие культуры или пообщаться с людьми из самых разных стран. Кроме этого, иностранные языки помогают развивать память, когнитивные функции и гибкость ума. Сейчас есть много инструментов для изучения: онлайн-курсы, языковые школы, приложения, самостоятельная практика и стажировки в других странах.</p>
</div>


<div class="hobby">
    <h2>Фотография</h2>
    <h4>Тип: Создание и изучение вещей</h4>
    <p>популярное и доступное хобби. Можно фотографировать на обычный смартфон с хорошей камерой. Фотографируйте все подряд, обрабатывайте фото, выставляйте в интернете и получайте своих поклонников. Или деньги, продавая снимки.</p>
</div>

<div class="hobby">
    <h2>Чтение книг</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Хобби, которое может расширить кругозор, словарный запас и улучшить навыки критического мышления. Читая книги, человек учится у экспертов, путешествует по новым мирам или разбирается в психологии личности. Всё зависит от жанра. Чтение — не всегда занятие для одного, можно присоединяться к книжным клубам и онлайн-дискуссиям, чтобы делиться своими идеями и мнением после прочитанного.</p>
</div>

<div class="hobby">
    <h2>Изучение звёзд и небесных тел</h2>
    <h4>Тип: Изучение вещей</h4>
    <p> Любительская астрономия — хобби, которое требует хотя бы бинокля с десятикратным увеличением и базовых знаний. Место для наблюдений тоже нужно выбирать тщательно, зато сколько впечатлений можно получить от собственных открытий. Подойдёт тем, кому всегда нравились точные дисциплины.</p>
</div>

<div class="hobby">
    <h2>Вексиллология</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>это вспомогательная историческая дисциплина и разновидность коллекционирования, объектом изучения и собирательства которой являются флаги, знамена, бунчуки, вымпелы, хоругви, штандарты, стяги и другие флагоподобные предметы.</p>
</div>

<div class="hobby">
    <h2>Иконография</h2>
    <h4>Тип: Изучение и создание вещей</h4>
    <p>Это строго регламентированная церковным иконографическим каноном система изображения определённых образов или сюжетных сцен на религиозную тематику.</p>
</div>


<div class="hobby">
    <h2>Реверс-инжиниринг</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Реверс-инжиниринг программного обеспечения – это процесс анализа программных продуктов для изучения их работы, выявления алгоритмов действия без непосредственного доступа к исходному коду, что позволяет глубже понять принципы работы ПО.</p>
</div>

<div class="hobby">
    <h2>Чтение вслух</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Чтение вслух — это практика, направленная на развитие ораторских навыков и выразительности. Люди могут участвовать в клубах чтения вслух или организовывать встречи, где читают и обсуждают литературу.</p>
</div>

<div class="hobby">
    <h2>Филателия</h2>
    <h4>Тип: Изучение и коллекционирование вещей</h4>
    <p>Это разновидность коллекционирования, объектом которого являются почтовые марки и других знаков почтовой оплаты. Миллионы людей во всем мире интересуются коллекционированием и изучением марок. Коллекции могут быть тематическими, например, марки разных стран, изображения животных и растений, космос и космическая техника, исторические и спортивные события, известные люди, значимые даты и так далее. Наибольшую ценность для опытных филателистов представляют марки с ограниченным тиражом, сохранившиеся в малых или единственном экземпляре, марки с уникальным браком</p>
</div>


<div class="hobby">
    <h2>Астрология</h2>
    <h4>Тип: Изучение вещей</h4>
    <p>Это учение, согласно которому события земной жизни и будущее можно предсказать по расположению и движению небесных тел на небесной сфере и относительно друг друга. Не смотря на то, что современная наука, при большом количестве предпринимаемых попыток дать физическое обоснование астрологии, квалифицирует ее как лженауку, а некоторые люди считают астрологию разновидностью гадания, волшебства, чародейства и другие похожих оккультных вещей, в наше время астрологические предзнаменования и гороскопная астрология становятся все более и более.</p>
</div>

<div class="hobby">
    <h2>Экология и охрана окружающей среды</h2>
    <h4>Тип: Изучение и защита</h4>
    <p>Экология как хобби включает в себя не только изучение взаимодействий между организмами и их окружающей средой, но и активное участие в защите и сохранении природы. Это может быть участие в городских озеленительных проектах, наблюдение за птицами, изучение местных экосистем, участие в чистках мусора и многое другое. Такое хобби не только помогает планете, но и расширяет понимание экологических проблем и способов их решения. Вдобавок, это отличный способ провести время на свежем воздухе, исследуя и наслаждаясь природой.</p>
</div>
{% endblock %}